@font-face {
   font-family: Architects Daughter;
   src:  local('Architects Daughter'),
         url('/fonts/ArchitectsDaughter-Regular.ttf') format('ttf');
}

@font-face {
   font-family: Permanent Marker;
   src:  local('Permanent Marker'),
         url('/fonts/PermanentMarker-Regular.ttf') format('ttf');
}

@font-face {
   font-family: ABeeZee;
   src:  local('ABeeZee'),
         url('/fonts/ABeeZee-Regular.ttf') format('ttf'),
         url('/fonts/ABeeZee-Italic.ttf') format('ttf');
}

@font-face {
   font-family: Varela Round;
   src:  local('Varela Round'),
         url('/fonts/VarelaRound-Regular.ttf') format('ttf');
}

@font-face {
   font-family: Indie Flower;
   src:  local('Indie Flower'),
         url('/fonts/IndieFlower-Regular.ttf') format('ttf');
}

@font-face {
   font-family: Rubik;
   src:  local('Rubik'),
         url('/fonts/Rubik-VariableFont_wght.ttf') format('ttf'),
         url('/fonts/Rubik-Italic-VariableFont_wght.ttf') format('ttf');
}

:root {
    --h1-colour:              #283618;
    --sub-colour:             #606C38;
    --bg-colour:              #FEFAE0;
    --sidebar-bg-colour:      #0f1607;
    --fg-colour:              #2D2D27;
    --accent-colour:          #a35d1f;
    --nav-shadow:             #9C8A79;
    --nav-background:         #DDA15E;
    --nav-text:               #321904;
    --font-title:             'Architects Daughter';
    --font-body:              'ABeeZee';
    --font-banner:            'Permanent Marker';
    --sidebar-bg-tag-colour:  #BC6C25;
}

.sidebar h1 {
    font-family: var(--font-banner);
    font-weight: light;
    font-size: larger;
    /* color: var(--h1-colour) !important; */
}

.sidebar {
   font-family: var(--font-body);
   font-weight: 100;
   font-size: 16px;
}

a {
   text-decoration: none;
   color: var(--accent-colour);
}

.sidebar a {
   text-decoration: none;
   color: var(--bg-colour);
}

.sidebar a:hover {
   text-decoration: none;
   background: var(--bg-colour);
   color: var(--fg-colour);
}

.sidebar a.social:hover {
   border-bottom: 3px solid var(--sidebar-bg-tag-colour);
   border-radius: .2em;
}

a.social:hover {
   text-decoration: none;
   background: var(--sidebar-bg-colour);
}

.content.container {
   font-family: var(--font-body);
   font-weight: 200;
   font-size: 16px;
}

.dark-theme .content a {
   color: #DDA15E;
}

.dark-theme .tags li a {
    color: var(--table-stripe-color);
}

signature {
    font-family: Indie Flower;
    font-size: larger;
    font-weight: lighter;
    font-style: oblique;
    text-align: right;
    display: block;
    color: var(--accent-colour);
}

.dark-theme signature {
   color: var(--nav-background);
}

hr {
    clear: both;
    border: 1px solid var(--sub-colour);
    color: var(--sub-colour);
    width: 66%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: var(--font-title);
    font-weight: bold;
    /* color: var(--h1-colour) !important; */
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    /* color: var(--sub-colour) !important; */
}

/* Below here is just me fighting the poison template */
.bullet {
   text-decoration: none;
}

.headline ul {
   width: 75%;
}

.info ul li {
    float: right;
}

.headline div span {
   display: none;
}

.entries li::after {
    background-size: 0.75em 3px;
    height: 1.2em;
}

li.heading.updates {
   float: none;
   clear: both;
   display: block;
}

.bullet.tags {
   float: left;
}

.bullet.tags a {
   padding: 0.1em .7em;
   margin-bottom: 0.25em;
   text-align: center;
   font-size: .7em;
   font-weight: bold;
   background-color: var(--sidebar-bg-tag-colour);
   border-radius: .2em;
   color: var(--bg-colour);
}

.bullet.tags a:hover {
   background: var(--bg-colour);
   color: var(--sidebar-bg-tag-colour);
}

nav hr {
    clear: both;
    border: 1px solid var(--sidebar-bg-colour);
    color: var(--sub-colour);
    width: 66%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}
