@font-face {
    font-family: Architects Daughter;
    src:  local('Architects Daughter'),
    url('../fonts/ArchitectsDaughter-Regular.ttf');
}

@font-face {
    font-family: Permanent Marker;
    src:  local('Permanent Marker'),
    url('../fonts/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: ABeeZee;
    src:  local('ABeeZee'),
    url('../fonts/ABeeZee-Italic.ttf');
}

@font-face {
    font-family: Varela Round;
    src:  local('Varela Round'),
    url('../fonts/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: Indie Flower;
    src:  local('Indie Flower'),
    url('../fonts/IndieFlower-Regular.ttf');
}

@font-face {
    font-family: Rubik;
    src:  local('Rubik'),
    url('../fonts/Rubik-VariableFont_wght.ttf'),
    url('../fonts/Rubik-Italic-VariableFont_wght.ttf');
}

:root {
    --h1-colour:              #283618;
    --sub-colour:             #606C38;
    --bg-colour:              #FEFAE0;
    --sidebar-bg-colour:      #0f1607;
    --fg-colour:              #2D2D27;
    --accent-colour:          #a35d1f;
    --nav-shadow:             #9C8A79;
    --nav-background:         #DDA15E;
    --nav-text:               #321904;
    --font-title:             'Indie Flower';
    --font-body:              'ABeeZee';
    --font-banner:            'Permanent Marker';
    --sidebar-bg-tag-colour:  #BC6C25;
}

.sidebar h1 {
    font-family: var(--font-banner);
    font-weight: light;
    font-size: larger;
    /* color: var(--h1-colour) !important; */
}

.sidebar {
    font-family: var(--font-body);
    font-weight: 100;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--accent-colour);
}

.sidebar a {
    text-decoration: none;
    color: var(--bg-colour);
}

.sidebar a:hover {
    text-decoration: none;
    background: var(--bg-colour);
    color: var(--fg-colour);
}

.sidebar a.social:hover {
    border-bottom: 3px solid var(--sidebar-bg-tag-colour);
    border-radius: .2em;
}

a.social:hover {
    text-decoration: none;
    background: var(--sidebar-bg-colour);
}

.content.container {
    font-family: var(--font-body);
    font-weight: 200;
    font-size: 16px;
}

.dark-theme .content a {
    color: #DDA15E;
}

.dark-theme .tags li a {
    color: var(--table-stripe-color);
}

.post-title a {
    color: var(--h1-colour);
    text-decoration: none;
}

.post-title a:hover {
    border-right: 1px groove;
    border-top: 1px groove;
    border-radius: 10px;
    padding-right: 0.25em;
    padding-top: 0.1em;
}

.content.container img {
    float: left;
    padding: 15px;
    vertical-align: middle;
    width: 66%;
}

signature {
    font-family: Indie Flower;
    font-size: larger;
    font-weight: lighter;
    font-style: oblique;
    text-align: right;
    display: block;
    color: var(--accent-colour);
}

.dark-theme signature {
   color: var(--nav-background);
}

hr {
    clear: both;
    border: 1px solid var(--sub-colour);
    color: var(--sub-colour);
    width: 66%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: var(--font-title);
    font-weight: bold;
    /* color: var(--h1-colour) !important; */
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    /* color: var(--sub-colour) !important; */
}

/* Below here is just me fighting the poison template */
.bullet {
    text-decoration: none;
}

.headline ul {
    width: 66%;
}

.info ul li {
    float: right;
}

/*.headline div span {*/
/*    display: none;*/
/*}*/

.content div.summary {
    font-size: 0.85em;
    border: 1px solid var(--sub-colour);
    margin-bottom: 2em;
    margin-left: 20%;
    width: 60%;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 4px 3px 5px var(--accent-colour);
}

.entries li::after {
    background-size: 0.75em 3px;
    height: 1.2em;
}

li.heading.updates {
    float: none;
    clear: both;
    display: block;
}

li.other-in-series {
   list-style-type: "\27A2";
}

.bullet.tags {
    float: left;
}

.bullet.tags a {
    padding: 0.1em 0.6em;
    margin-bottom: 0.25em;
    text-align: center;
    font-size: 0.75em;
    font-weight: 300;
    background-color: var(--sidebar-bg-tag-colour);
    border-radius: .2em;
    color: var(--bg-colour);
}

.bullet.tags a:hover {
    background: var(--bg-colour);
    color: var(--sidebar-bg-tag-colour);
}

nav hr {
    clear: both;
    border: 1px solid var(--sidebar-bg-colour);
    color: var(--sub-colour);
    width: 66%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

p.lead {
    font-size: 0.8em;
}

@media screen (min-width: 64em) {
    .content {
        max-width: 50rem;
    }
}

time.post-date.dt-updated {
   font-size: 0.66em;
   font-weight: 200;
   font-style: oblique;
}

/* Scrollbar on sidebar */
.sidebar {
    --scrollbar-color-thumb: rgb(70, 70, 70);
    --scrollbar-color-thumb-hover: rgb(150, 150, 150);
    --scrollbar-color-track: auto;
    --scrollbar-color-track-legacy: transparant;
    --scrollbar-width: auto;
    --scrollbar-width-legacy: 7px;
    --scrollbar-border-radius: 10px;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
    .sidebar {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
        scrollbar-width: var(--scrollbar-width);
    }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    .sidebar::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy);
    }
    .sidebar::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track-legacy);
        border-radius: var(--scrollbar-border-radius);
    }
    .sidebar::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color-thumb);
        border-radius: var(--scrollbar-border-radius);
    }
    .sidebar::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-color-thumb-hover);
    }
}
