<div class="info">
    <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>

    <div class="headline">
        <div>
            {{ with (or .Date .PublishDate) }}
                <time datetime='{{ . | time.Format " 2006-01-02T15:04:05Z0700" }}' class="post-date dt-published">
                    {{ . | time.Format ":date_long" }}
                </time>
            {{ end }}
            {{ if not .Params.disableReadingTime }}
                <span> - </span>
                <span class="reading-time">
                    {{ .ReadingTime }} {{ if gt .ReadingTime 1 }}mins{{ else }}min{{ end }} read
                </span>
            {{ end }}
        </div>

        {{ if .Params.tags }}
            <ul class="tags">
            {{ range .Params.tags }}
                {{- $slug := partial "obsidian-slug.html" . -}}
                {{- $display := replaceRE `[-_]` " " $slug -}}
                <li class="tag-{{ $display | urlize }}">
                    <a href='{{ "tags/" | absLangURL }}{{ $slug }}'>{{ title ($display) }}</a>
                </li>
            {{ end }}
            </ul>
        {{ end }}
    </div>

    {{ with .Params.series }}
        {{ with site.Taxonomies.series.Get . }}
            <p class="seriesname">
                Series: <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
            </p>
        {{ end }}
    {{ end }}
</div>
{{ if .Summary }}
    <div class="summary">
        {{ .Summary }}
    </div>
{{ end }}
